/* .App {
    text-align: center;
    background-color: black;
    display: inline-block;
    margin: 10px;
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
  
  

.bot-collection-container {
    background-color: black;
    padding: 20px;
  }
  
  .bot-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    color: white;
  }
   */